<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SapConfigurationSection"
             type="Siemens.Infrastructure.SAP.SapBridge.Configuration.Tools.XmlSerializerSectionHandler, Siemens.Infrastructure.SAP.SapBridge.Configuration" />
  </configSections>
  <appSettings>
    <!-- Supported values: nunit, xunit, mstest, mspec, mbunit and gallio -->
    <add key="FluentAssertions.TestFramework" value="xunit"/>
  </appSettings>


  <SapConfigurationSection type="Siemens.Infrastructure.SAP.SapBridge.Configuration.SapConfigurationSection">
    <!-- IMPORTANT: LEAVE THIS APPLICATION NODE AND THE NEXT HERE FOR UNIT TEST PURPOSES
         should you need to add other nodes, do so after this <application> node -->
    <Application name="MDM">
      <SapConfigurationEntries>
        <SapConfigurationEntry company="1234" environment="Q">
          <ConnectionData sapUserName=""
                          sapUserPassword=""
                          sapHostName=""
                          sapSystemNumber=""
                          sapClientSystem=""
                          language=""
                          poolSize=""
                          maxPoolSize=""
                          idleTimeout="">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO1" operation="SEARCH">
              <Mappings tableName="PUSH" typeName="" cardinality="n">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITE">
              <Mappings tableName="PULL" typeName="" cardinality="0-1">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
        <SapConfigurationEntry company="5290" environment="Q">
          <ConnectionData sapUserName="user1"
                          sapUserPassword="mypassword"
                          sapHostName="unknown"
                          sapSystemNumber="73"
                          sapClientSystem="74"
                          language="EN"
                          poolSize="5"
                          maxPoolSize="10"
                          idleTimeout="700">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO1" operation="SEARCH">
              <Mappings tableName="PUSH_5290" typeName="" cardinality="1">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITE">
              <Mappings tableName="PULL_5290" typeName="" cardinality="1-n">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
        <!-- by using the * we indicate this is valid for any company code -->
        <SapConfigurationEntry company="*" environment="Q">
          <ConnectionData sapUserName="user1"
                          sapUserPassword="mypassword"
                          sapHostName="unknown"
                          sapSystemNumber="73"
                          sapClientSystem="74"
                          language="EN"
                          poolSize="5"
                          maxPoolSize="10"
                          idleTimeout="700">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO1" operation="SEARCH">
              <Mappings tableName="PUSH_5290">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITE">
              <Mappings tableName="PULL_5290">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
        <!-- end of generic Bapi call configuration -->
      </SapConfigurationEntries>
    </Application>
    <Application name="MDMC">
      <SapConfigurationEntries>
        <SapConfigurationEntry company="1234" environment="Q">
          <ConnectionData sapUserName=""
                          sapUserPassword=""
                          sapHostName=""
                          sapSystemNumber=""
                          sapClientSystem=""
                          language=""
                          poolSize=""
                          maxPoolSize=""
                          idleTimeout="">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO1" operation="SEARCH">
              <Mappings tableName="PUSH">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITE">
              <Mappings tableName="PULL">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
        <SapConfigurationEntry company="5290" environment="Q">
          <ConnectionData sapUserName=""
                          sapUserPassword=""
                          sapHostName=""
                          sapSystemNumber=""
                          sapClientSystem=""
                          language=""
                          poolSize=""
                          maxPoolSize=""
                          idleTimeout="">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_XAXA1" operation="SEARCH">
              <Mappings tableName="PUSH_5290">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_XAXA2" operation="WRITE">
              <Mappings tableName="PULL_5290">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
      </SapConfigurationEntries>
    </Application>
    <!-- add others here if needed -->
  </SapConfigurationSection>

</configuration>