<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SapConfigurationSection"
             type="Siemens.Infrastructure.SAP.SapBridge.Configuration.Tools.XmlSerializerSectionHandler, Siemens.Infrastructure.SAP.SapBridge.Configuration" />
  </configSections>
  <appSettings>
    <!-- Supported values: nunit, xunit, mstest, mspec, mbunit and gallio -->
    <add key="FluentAssertions.TestFramework" value="xunit"/>
  </appSettings>


  <SapConfigurationSection type="Siemens.Infrastructure.SAP.SapBridge.Configuration.SapConfigurationSection">
    <!-- IMPORTANT: LEAVE THIS APPLICATION NODE AND THE NEXT HERE FOR UNIT TEST PURPOSES
         should you need to add other nodes, do so after this <application> node -->
    <Application name="MDM">
      <SapConfigurationEntries>
        <SapConfigurationEntry company="1234" environment="Q">
          <ConnectionData sapUserName="user1"
                          sapUserPassword="mypassword"
                          sapHostName="unknown"
                          sapSystemNumber="73"
                          sapClientSystem="74"
                          language="EN"
                          poolSize="5"
                          maxPoolSize="10"
                          idleTimeout="700">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO1" operation="SEARCH">
              <Mappings tableName="PUSH" typeName="" cardinality="n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
              <Mappings tableName="PUSH_2" typeName="" cardinality="n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
              <Mappings tableName="PUSH_3" typeName="" cardinality="n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITE">
              <Mappings tableName="PULL" typeName="" cardinality="0-1" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO3" operation="SEARCH">
              <Mappings tableName="TABL1"
                        typeName="Siemens.Infrastructure.SAP.SapBridge.UnitTests.Dummies.Foo"
                        cardinality="1"
                        mappingType="object">
                <Mapping sapName="AFKA1" fieldName="FooField" />
                <Mapping sapName="AFKA2" fieldName="Message" />
              </Mappings>
              <Mappings tableName="TABL2"
                        typeName="Siemens.Infrastructure.SAP.SapBridge.UnitTests.Dummies.Bar"
                        cardinality="1"
                        mappingType="object">
                <Mapping sapName="BARVK" fieldName="BarName" />
                <Mapping sapName="BARZA" fieldName="NonExistingField" />
              </Mappings>
              <Mappings tableName="TABL3"
                        typeName="Siemens.Infrastructure.SAP.SapBridge.UnitTests.Dummies.Baz"
                        cardinality="1-n"
                        mappingType="object">
                <Mapping sapName="BAZ_A" fieldName="BazFieldA" />
                <Mapping sapName="BAZ_B" fieldName="BazFieldB" />
              </Mappings>
              <Mappings tableName="TABL4"
                        typeName="Siemens.Infrastructure.SAP.SapBridge.UnitTests.Dummies.Qux"
                        cardinality="1"
                        mappingType="object">
                <Mapping sapName="QUXFD" fieldName="QuxField" />
              </Mappings>

            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO4" operation="WRITE" mappingType="dataTable">
              <Mappings tableName="TABL5"
                      typeName="Siemens.Infrastructure.SAP.SapBridge.UnitTests.Dummies.Curge"
                      cardinality="1" mappingType="object">
                <Mapping sapName="CORGA" fieldName="Hello" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITEGRTDATA" mappingType="dataTable">
              <Mappings tableName="PUSH"
                        typeName="System.Data.DataTable"
                        cardinality="1-n"
                        mappingType="table">
                <Mapping sapName="EBELN" fieldName="EBELN" />
                <Mapping sapName="EBELP" fieldName="EBELP" />
                <Mapping sapName="SWE_MM_TICK" fieldName="SWE_MM_TICK" />
                <Mapping sapName="ERDES" fieldName="ERDES" returnField="true"/>
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
        <SapConfigurationEntry company="5290" environment="Q">
          <ConnectionData sapUserName="user1"
                          sapUserPassword="mypassword"
                          sapHostName="unknown"
                          sapSystemNumber="73"
                          sapClientSystem="74"
                          language="EN"
                          poolSize="5"
                          maxPoolSize="10"
                          idleTimeout="700">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO1" operation="SEARCH">
              <Mappings tableName="PUSH_5290" typeName="" cardinality="1" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITE">
              <Mappings tableName="PULL_5290" typeName="" cardinality="1-n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
        <!-- by using the * we indicate this is valid for any company code -->
        <SapConfigurationEntry company="*" environment="Q">
          <ConnectionData sapUserName="user1"
                          sapUserPassword="mypassword"
                          sapHostName="unknown"
                          sapSystemNumber="73"
                          sapClientSystem="74"
                          language="EN"
                          poolSize="5"
                          maxPoolSize="10"
                          idleTimeout="700">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO1" operation="SEARCH">
              <Mappings tableName="PUSH_5290" typeName="" cardinality="1-n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITE">
              <Mappings tableName="PULL_5290" typeName="" cardinality="1-n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
        <!-- end of generic Bapi call configuration -->
      </SapConfigurationEntries>
    </Application>
    <Application name="MDMC">
      <SapConfigurationEntries>
        <SapConfigurationEntry company="1234" environment="Q">
          <ConnectionData sapUserName="user1"
                          sapUserPassword="mypassword"
                          sapHostName="unknown"
                          sapSystemNumber="73"
                          sapClientSystem="74"
                          language="EN"
                          poolSize="5"
                          maxPoolSize="10"
                          idleTimeout="700">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO1" operation="SEARCH">
              <Mappings tableName="PUSH" typeName="" cardinality="1-n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_GRTO2" operation="WRITE">
              <Mappings tableName="PULL" typeName="" cardinality="1-n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
        <SapConfigurationEntry company="5290" environment="Q">
          <ConnectionData sapUserName="user1"
                          sapUserPassword="mypassword"
                          sapHostName="unknown"
                          sapSystemNumber="73"
                          sapClientSystem="74"
                          language="EN"
                          poolSize="5"
                          maxPoolSize="10"
                          idleTimeout="700">
          </ConnectionData>
          <BapiConfigurationBlock>
            <BapiConfiguration bapiName="/SIE/SWE_MM_XAXA1" operation="SEARCH">
              <Mappings tableName="PUSH_5290" typeName="" cardinality="1-n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
            <BapiConfiguration bapiName="/SIE/SWE_MM_XAXA2" operation="WRITE">
              <Mappings tableName="PULL_5290" typeName="" cardinality="1-n" mappingType="object">
                <Mapping sapName="XYZA1" fieldName="customerID" />
              </Mappings>
            </BapiConfiguration>
          </BapiConfigurationBlock>
        </SapConfigurationEntry>
      </SapConfigurationEntries>
    </Application>
    <!-- add others here if needed -->
  </SapConfigurationSection>

</configuration>